// Import fontsource quicksand
@import "@fontsource/quicksand/index.css";

// Font quicksand 500
@import "@fontsource/quicksand/500.css";

// Font quicksand 600
@import "@fontsource/quicksand/600.css";

// Font quicksand 700
@import "@fontsource/quicksand/700.css";

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Colore di sfondo grigio sfumato scuro
$bkg-color-gray-light-shade: #3d3d3d;

// Colore di sfondo grigio chiaro
$bkg-color-gray-light: #f9f9f9;

// Colore di sfondo bianco
$bkg-color-white: #ffffff;

// Colore di sfondo linear gradient verde
$bkg-color-gradient-green: linear-gradient(
  90deg,
  hsl(95deg 68% 63%) 0%,
  hsl(101deg 67% 64%) 8%,
  hsl(107deg 66% 65%) 16%,
  hsl(114deg 64% 66%) 23%,
  hsl(121deg 63% 67%) 29%,
  hsl(129deg 65% 65%) 36%,
  hsl(135deg 66% 63%) 42%,
  hsl(141deg 67% 61%) 48%,
  hsl(146deg 68% 59%) 55%,
  hsl(150deg 69% 57%) 62%,
  hsl(154deg 70% 55%) 69%,
  hsl(158deg 71% 52%) 78%,
  hsl(162deg 76% 49%) 88%,
  hsl(166deg 100% 43%) 100%
);

// Colore di sfondo linear gradient grigio scuro
$bkg-color-gradient-gray-dark: linear-gradient(
  90deg,
  hsl(0deg 0% 22%) 0%,
  hsl(344deg 0% 21%) 18%,
  hsl(344deg 0% 19%) 31%,
  hsl(344deg 0% 18%) 43%,
  hsl(344deg 0% 17%) 53%,
  hsl(344deg 0% 15%) 63%,
  hsl(344deg 0% 14%) 72%,
  hsl(344deg 0% 12%) 81%,
  hsl(344deg 0% 11%) 90%,
  hsl(0deg 0% 10%) 100%
);

// Colore testo bianco
$text-color-white: #ffff;

// Colore testo grigio scuro
$text-color-gray-dark: #202020;

// Colore testo grigio chiaro
$text-color-gray-light: #aaaaaa;

// Color green
$color-green: #00d9a6;

// Img
Img {
  max-width: 100%;
  height: 100%;
  display: block;
}

// Reset style ol ul
ul,
ol {
  list-style: none;
}

// Reset a text decoration currentColor
a {
  text-decoration: none;
  color: currentColor;
}
